@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font {
    font-family: "Poppins", sans-serif;
}

.rubik-font {
    font-family: "Rubik", sans-serif;
}

.nav-bg {
    width: 100%;
    height: 80;
    border-bottom: 1px solid #FFFFFF33;
    background: #0000000A;
}

.cursor-pointer {
    cursor: pointer;
}

.mx-w-1140 {
    max-width: 1140px !important;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background-color: #fff;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-44deg);
}

.z-5 {
    z-index: 5;
}

.nav-bar-bg {
    width: 100%;
    border-width: 1px;
    background: #0000000A;
    border-bottom: 1px solid #FFFFFF33;
    backdrop-filter: blur(30px);
}

.nav-btn {
    max-width: 122px;
    border-radius: 51px;
    padding: 14px 16px 14px 16px;
    background-color: var(--color-blue);
    color: var(--color-white);
    transition: all 300ms linear;
}

.nav-btn:hover {
    background-color: var(--color-white);
    color: var(--color-blue);
}

.nav-tags {
    color: var(--color-grey);
    transition: all 200ms linear;
}

.nav-tags:hover {
    color: var(--color-blue);
}

.top-94 {
    top: 94px;
}

/* ----------section-1-------- */
.bg-img {
    background-image: url(../image/png/section-1-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.mt-34 {
    margin-top: 34px;
}

.mx-w-1096 {
    max-width: 1096px !important;
}

.top-63 {
    top: 63px;
}

.mx-w-1104 {
    max-width: 1104px !important;
}

.gap-24 {
    gap: 24px;
}

.pr-40 {
    padding-right: 40px;
}

.mx-w-679 {
    max-width: 679px;
}

.mt-100 {
    margin-top: 100px;
}

.slick-dots li button:before {
    opacity: 0 !important;
}

.slick-track {
    display: flex !important;
    gap: 0 !important;
}

.slick-dots li {
    transition: 0.3s !important;
}

.slick-dots {
    right: 44% !important;
}

.mr-29 {
    margin-right: 29px;
}

.mt-27 {
    margin-top: 27px;
}

.slick-dots li {
    width: 40px;
    background-color: #4D5271;
    border-radius: 10px;
    height: 6px !important;
}

.slick-dots .slick-active {
    background-color: var(--color-blue);
    border-radius: 10px;
    height: 6px;
}

.mt-60 {
    margin-top: 60px;
}

.mx-w-379 {
    max-width: 379px;
}

.bottom-card {
    bottom: 0;
    right: 31px;
}

.talk-btn {
    width: 122px;
    border-radius: 90px;
    padding: 14px 16px 14px 16px;
    background-color: var(--color-blue);
    color: var(--color-white);
    transition: all 300ms linear;
}

.talk-btn:hover {
    background-color: var(--color-white);
    color: var(--color-blue);
}

.scroll-down {
    width: 40px;
    height: 121px;
    border-radius: 108.64px;
    border: 0.53px solid #FFFFFF33;
    backdrop-filter: blur(9.492682456970215px);
    transition: all 200ms linear;
}

.scroll-down:hover {
    backdrop-filter: unset;
    background-color: var(--color-blue);
}

.play-svg {
    top: 50%;
    left: 50%;
    max-width: 71px;
}

/* ----------section-2-------- */
.mx-w-643 {
    max-width: 643px;
    max-height: 474px;
}

.pt-100 {
    padding-top: 100px;
}

.left-44 {
    left: 44px;
}

.left-40 {
    left: 40%;
}

.left-145 {
    left: 145px;
}

.top-55 {
    top: 55%;
}

.left-20 {
    left: -20%;
}

.hover-head-text {
    display: none;
    transition: all 200ms linear;
}

.sec-2-box-content {
    bottom: 0;
    z-index: 10;
    transition: all 200ms linear;
}

.section-2-img-box {
    transition: all 200ms linear;
    border-radius: 30px;
}

.section-2-img-box:hover {
    transform: translate3d(0px, -30px, 0px);
}

.section-2-img-box:hover .sec-2-box-content {
    top: 0;
}

.section-2-img-box:hover .box-1-text {
    display: block !important;
}

.section-2-img-box:hover .hover-head-text {
    display: block !important;
}

.section-2-img-box:hover .blur-box {
    scale: 3;
}

.blur-box {
    backdrop-filter: blur(10px);
    border: 1px solid #FFFFFF33;
    width: 405px;
    height: 405px;
    border-radius: 100%;
    right: 0;
}

.pb-130 {
    padding-bottom: 130px;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 10px;
    display: none;
    z-index: 10;
    background-color: transparent;
    border: none;
}

.mt-100 {
    margin-top: 100px;
}

.pl-20 {
    padding-left: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mx-w-259 {
    max-width: 259px;
}

.pt-30 {
    padding-top: 30px;
}

.mx-w-324 {
    max-width: 324px;
}

.pt-60 {
    padding-top: 60px;
}

/* ----------section-3-------- */
.mx-w-194 {
    max-width: 194px;
}

.mx-w-172 {
    max-width: 172px;
}

.mx-w-264 {
    max-width: 264px;
}

.mx-h-293 {
    max-height: 293px;
}

.mx-h-137 {
    max-height: 137px;
}

.mt-24 {
    margin-top: 24px;
}

.border-30 {
    border-radius: 30px;
    border: 2px solid #00060C33;
}

.ml-24 {
    margin-left: 24px;
}

.mx-w-549 {
    max-width: 549px;
}

.img-border {
    border-radius: 30px;
    border: 2px solid #00060C33;
}

/* ----------section-4-------- */
.section-4-bg {
    background-image: url(../image/png/section-4-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.py-93 {
    padding-top: 93px;
    padding-bottom: 93px;
}

.mx-w-558 {
    max-width: 558px;
}

.get-btn {
    max-width: 122px;
    border-radius: 51px;
    padding: 14px 16px 14px 16px;
    background-color: var(--color-blue);
    color: var(--color-white);
    transition: all 300ms linear;
}

.get-btn:hover {
    background-color: var(--color-white);
    color: var(--color-blue);
}

.mt-40 {
    margin-top: 40px;
}

.right-0 {
    right: 0;
}

/* ----------section-5-------- */
.pb-80 {
    padding-bottom: 80px;
}

.pt-135 {
    padding-top: 135px;
}

.accordion-button:not(.collapsed) {
    color: unset !important;
    background-color: unset !important;
    box-shadow: unset !important;
}

.accordion {
    --bs-accordion-border-color: unset !important;
    --bs-accordion-btn-focus-box-shadow: unset !important;
    --bs-accordion-active-color: unset !important;
    --bs-accordion-active-bg: unset !important;
    max-width: 830px !important;
}

.accordion-body {
    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.mx-w-697 {
    max-width: 697px;
}

.accordion-text {
    color: var(--color-white);
}

.accordion-item:hover .accordion-text {
    color: var(--color-blue);
}

.accordion-button:not(.collapsed) {
    color: var(--color-blue) !important;
}

.acc-btn::after {
    background-image: url(/assets/image/png/accordion-svg.png) !important;
}

/* ----------section-6-------- */
.pt-50 {
    padding-top: 50px;
}

.phone-circle {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: #E6F1FD;
    transition: all 200ms linear;
}

.pt-48 {
    padding-top: 48px;
}

.phone-card {
    max-width: 364px;
    height: 215px;
    border-radius: 10px;
    border: 1px solid #0000001A;
    transition: all 200ms linear;
}

.phone-card:hover .phone-circle svg path {
    fill: #fff;
}

.phone-card:hover .phone-circle {
    background: var(--color-blue);
}

.phone-card:hover {
    box-shadow: 0px 4px 16px 0px #1A2C0014;
}

.phone-circle {
    top: -18%;
    left: 40%;
}

.mt-115 {
    margin-top: 115px;
}

.mx-w-324 {
    max-width: 324px;
}

.footer-tags {
    width: 50px;
    height: 50px;
    border-radius: 131px;
    background: #E6F1FD1A;
    backdrop-filter: blur(71.55949401855469px);
    box-shadow: 0px 4px 20px 0px #00000033;
}

.pt-65 {
    padding-top: 65px;
}

.footer-links {
    color: var(--color-white);
    transition: all 200ms linear;
}

.footer-links:hover {
    color: var(--color-blue);
}

.pt-21 {
    padding-top: 21px !important;
}

.pt-25 {
    padding-top: 25px;
}

.pt-80 {
    padding-top: 80px;
}

.pb-164 {
    padding-bottom: 164px;
}

.footer-line {
    width: 100%;
    opacity: 75%;
    border-top: 1px solid #FFFFFF;
}

.footer-svg {
    transition: all 200ms linear;
}

.footer-svg:hover {
    transform: scale(1.1);
}

/* ------------------------------------------ */
.lh-18 {
    line-height: 18.96px;
}

.lh-56 {
    line-height: 56.88px;
}

.lh-24 {
    line-height: 24px;
}

.lh-48 {
    line-height: 48px;
}

.lh-30 {
    line-height: 30px;
}

.lh-26 {
    line-height: 26.4px;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-130 {
    padding-top: 130px;
}

.pb-125 {
    padding-bottom: 125px;
}

@media (max-width:991.98px) {

    .pr-40 {
        padding-right: 0;
    }

    .pl-75 {
        padding-left: 75px;
    }

    .pt-15 {
        padding-top: 15px;
    }

    .top-94 {
        top: 0;
    }

    .center {
        justify-content: center;
        align-items: center;
        display: flex;
        margin: auto;
    }

    .mt-100 {
        margin-top: 50px;
    }

    .mx-w-270 {
        max-width: 270px;
    }

    .talk-btn {
        padding: 8px 10px 8px 8px;
    }

    .lh-24 {
        line-height: 16px;
    }

    .slick-dots {
        right: 36.5% !important;
    }

    .pt-21 {
        padding-top: 0 !important;
    }
}

@media (max-width:575.98px) {
    .bg-img {
        background-position: center;
    }

    .lh-56 {
        line-height: 35px;
    }

    .bottom-card {
        bottom: 0;
        left: 12px;
    }

    .pt-13 {
        padding-top: 0;
    }

    .section-4-bg {
        background-position: right;
    }

    .pt-35 {
        padding-top: 35px;
    }

    .slick-dots {
        right: 32.5% !important;
    }

    .play-svg {
        left: 44%;
    }

}

@media (max-width:767.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        backdrop-filter: blur(100px) !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 3;
        align-items: center;
    }

    .nav-bg {
        background: #291C53;
    }

    .top-63 {
        top: 59px;
    }

    .show-navbar {
        right: 0 !important;
    }

    .md-center {
        text-align: center;
        justify-content: center;
        display: flex;
        margin: auto;
    }

    .pl-75 {
        padding-left: 0;
    }

    .pt-135 {
        padding-top: 50px;
    }

    .pt-15 {
        padding-top: 5px !important;
    }

    .pt-30 {
        padding-top: 5px;
    }

    .lh-24 {
        line-height: 20px;
    }

    .md-column {
        flex-direction: column-reverse;
    }

    .pt-36 {
        padding-top: 36px;
    }
}

@media (max-width:375.98px) {
    .slick-dots {
        right: 35.5% !important;
    }
}

@media (max-width:475.98px) {

    .lh-56 {
        line-height: 29px;
    }

    .mx-w-194 {
        max-width: 135px;
    }

    .mx-w-172 {
        max-width: 140px;
    }

    .mx-w-264 {
        max-width: 164px;
    }

    .pb-130 {
        padding-bottom: 0;
    }

    .pt-130 {
        padding-top: 50px;
    }

    .pt-50 {
        padding-top: 0;
    }

    .pb-125 {
        padding-bottom: 50px;
    }
}

@media (min-width: 768px) {

    .nav-bg {
        width: 100%;
        height: 80;
        border-bottom: 1px solid #FFFFFF33;
        background: #0000000A;
        backdrop-filter: blur(35px);
    }

    .md-end {
        justify-content: end;
        display: flex;
    }
}